@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: lightgrey;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  margin: 0 auto;
  width: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}


h1 {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.3333;
}

h2 {
  margin: 0 0 1.5rem;

  color: lightgrey;
  font-size: 1rem;
}

p {
  margin: 0 0 1.5rem;
  padding: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ol {
  padding-left: 1.5em;
}

.content {
  padding: 0 0.8em;
}

figure {
  margin: 0 0 1.5rem;

}

figcaption {
  background-color: #000;
  color: #fff;
  font-size: 0.7901rem;

}
