@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: lightgrey;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
}

img {
  display: block;
  width: 100%;
}

.heading {
  padding: 10px;
  font-size: 1.125rem;
}

.subtitle {
  margin: 0;
  color: grey;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.def{
  margin: 0;
}

.figure{
  margin:0;
  padding:0;
  position: relative;
}

.figcaption{
  margin: 0;
  color: #fff;
  position: absolute;
  padding: .5rem;
  bottom: 0px;
  font-style: italic;
  font-family: serif;
  text-align: left;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
}

.main-wrapper{
  margin: 1rem 0;
  /*overflow: hidden;*/
  padding-bottom: 2rem;
}

.main1{
  padding: .5rem;
  float: left;
  width: 32%;
  box-sizing: border-box;
  border-right: 1px solid lightgrey;
}

.main2{
  padding: .5rem;
  float: left;
  width: 32%;
  box-sizing: border-box;
  border-right: 1px solid lightgrey;
}

.main3{
  padding: .5rem;
  float: left;
  width: 32%;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after{
  content:"";
  display:table;
}

.clearfix:after{
  clear:both;
}
